<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>DNA ordinal is 0</title> <!-- LMAO -->
	
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="https://raw.githack.com/Naruyoko/ExpantaNum.js/master/ExpantaNum.js" defer></script>
	<script src="loop.js" defer></script>
	<script src="tools.js" defer></script>
	<script src="ordinal.js" defer></script>
	<script src="script.js" defer></script>
	<div id="app">
		<h1 v-html="ordinalDisplay()"></h1>
		  <div class="tabs">
			  <button class="tabButton"style="width:10%;height:2.5vw;" @click="tab = 1">Ordinals</button>
        <button class="tabButton"style="width:10%;height:2.5vw;" @click="tab = 2">Options</button>
        <button class="tabButton"style="width:10%;height:2.5vw;" @click="tab = 3">Achievements</button>
        <button class="tabButton"style="width:10%;height:2.5vw;" @click="tab = 4">Markup</button>
        <button class="tabButton"style="width:10%;height:2.5vw;" @click="tab = 5">Boosters</button>
      </div>
      <br>
      <div v-if="tab==1">
        <button onclick="succ()">s u c c</button>
        <button onclick="maximize()">m a x x</button>
      </div>
      <div v-if="tab==2">
        <button onclick="switchTheme()">Current theme: {{["Cheater", "Light","Dark","Unpingabot"][style]}}</button>
      </div> 
    <link :href="app.style == 1 ? 'light.css' : app.style == 2 ? 'dark.css' : 'blue.css'" rel="stylesheet" type="text/css" />
    
    
  </div>
  </body>
</html>