.tabButton {
  font-family: sans-serif;
  color: #000000;
  background: #FFFFFF;
  border-radius: 5px;
  border-color: #000000;
  border-weight: 10px;
  cursor: pointer;
  transition-duration: 0.1s;
  width: 120px;
  height: 40px;
  font-size: 15pt;
  font-weight: bold;
}

.tabButton:hover {
  background: #DFDFDF
}

body {
  font-family: sans-serif;
  margin: 2em;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.unboughtthing {
    background-color: white !important;
    border-color: black !important;
    color: black !important;
}
button {
  font-family: sans-serif;
  color: #000000;
  background: #FFFFFF;
  border-radius: 2px;
  border-color: #000000;
  border-width:1.5px;
  cursor: pointer;
  transition-duration: 0.1s;
  font-size: 20px;
  height: 60px;
}

button:hover {
  background: #EFEFEF
}